---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>


          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
          <!-- <h3><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h3> -->
          <h3>news</h3>  
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Selected media -->
          <h3>news</h3>

          
          <div class="row"> 
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 10/2023
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">
               I attended the <a href="https://sites.duke.edu/nsfcsr2023/agenda/">NSF Computer Systems Research PI meeting</a> and was invited to give a talk on my research <b><a href="assets/pdf/slides/slides_sustainable_equitable_nsf_csr.pdf" target="_blank"> "Towards Environmentally Sutainable and Equitable Computing"</a></b> at the panel on Sustainable Computing.
              </div>
          </div>

          <div class="row">
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 09/2023
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">
                I received two new grants as PI from the <a href="https://new.nsf.gov/funding/opportunities/design-environmental-sustainability-computing-desc">NSF Design for Environmental Sustainability in Computing (DESC)</a> program:
                (1) A new user-in-the-loop approach to water-sustainable computing (in collaboration with Mohammad A. Islam from UT Arlington);
                and (2) A market-driven approach to designing sustainable multi-tenant data centers
                (with co-PI Daniel Wong).
              </div>
          </div>

          <div class="row">
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 09/2023
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">
                We have three papers accepted by <a href="https://nips.cc/">NeurIPS 2023</a>. Our papers study learning-augmented online decision-making and contribute to foundational algorithms to address emerging algorithmic challenges for computational sustainability.
              </div>
          </div>

          <div class="row">
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 09/2023
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">
                I was invited to speak about our research on AI sustainability at the panel <a href="https://www.brighttalk.com/webcast/19989/595274">"Is generative AI sustainable? Learn about its environmental impact"</a> (with Prof. Sajjad Moazeni from the University of Washington) organized by <a href="https://www.techtarget.com/">TechTarget</a>.
              </div>
          </div>

          <br/>

          <!-- Selected media -->
          <h3><a href="{{ '/impacts/' | relative_url }}" style="color: inherit;">societal impacts</a></h3>
         
          Our research has extended well beyond academic publications and generated broader societal impacts in various ways, raising public awareness of AI+sustainability. It has been reported and covered by 800+ media outlets in ~100 countries, including
          major news outlets such as 
          <b><a href="https://apnews.com/article/chatgpt-gpt4-iowa-ai-water-consumption-microsoft-f551fde98083d17a7e8d904f8be822c4">The Associated Press</a></b> (also republished
          in <a href="https://abcnews.go.com/Technology/wireStory/artificial-intelligence-technology-chatgpt-built-iowa-lot-water-103052515">ABC News</a>, <a href="https://fortune.com/2023/09/09/ai-chatgpt-usage-fuels-spike-in-microsoft-water-consumption/">Fortune</a>, <a href="https://www.cnbc.com/2023/09/11/artificial-intelligence-technology-behind-chatgpt-was-built-in-iowa-with-a-lot-of-water.html">CNBC</a>, 
          <a href="https://thehill.com/homenews/ap/ap-technology/ap-artificial-intelligence-technology-behind-chatgpt-was-built-in-iowa-with-a-lot-of-water/">The Hill</a>,
          etc.), 
          <b><a href="https://www.wsj.com/articles/artificial-intelligence-can-make-companies-greener-but-it-also-guzzles-energy-7c7b678?mod=ai_more_article_pos4">The Wall Street Journal</a></b>, 
          <b><a href="https://www.cbsnews.com/news/artificial-intelligence-carbon-footprint-climate-change/">CBS News</a></b>, 
          <b><a href="https://www.bloomberg.com/news/articles/2023-07-26/extreme-heat-drought-drive-opposition-to-ai-data-centers">Bloomberg</a></b>,
          <b><a href="https://www.foxnews.com/video/6325209341112">Fox News</a></b>,
           <b><a href="https://www.cbc.ca/player/play/2227096643554">CBC</a></b>, 
            <b><a href="https://www.ft.com/content/6c050c72-cd3d-4159-a209-84a427edaf4a">Financial Times</a></b>, 
          <b><a href="https://www.theguardian.com/technology/2023/jun/08/artificial-intelligence-industry-boom-environment-toll">The Guardian</a></b>, 
          <b><a href="https://www.thetimes.co.uk/article/ais-thirst-for-knowledge-is-bad-for-global-water-supplies-kpct9bbl6">The Times</a></b>,
          <b><a href="https://www.independent.co.uk/tech/chatgpt-data-centre-water-consumption-b2318972.html">The Independent</a></b>,
          <b><a href="https://www.newscientist.com/article/2381859-shifting-where-data-is-processed-for-ai-can-reduce-environmental-harm/">New Scientist</a></b>
          and 
          <b><a href="https://www.theatlantic.com/technology/archive/2023/08/ai-carbon-emissions-data-centers/675094/">The Atlantic</a></b>,
          among 
          others. See the <a href="/impacts/">societal impact</a> page for more.

          <br/>
          <br/>

          <div class="container">
            <div class="row">
                  <div class="col">
                  <a href="https://apnews.com/article/chatgpt-gpt4-iowa-ai-water-consumption-microsoft-f551fde98083d17a7e8d904f8be822c4"> {% include figure.html path="assets/logo/ap.png" title="AP" class="img-fluid rounded" %}</a>
                </div>
                <div class="col">
                  <a href="https://www.wsj.com/articles/artificial-intelligence-can-make-companies-greener-but-it-also-guzzles-energy-7c7b678?mod=ai_more_article_pos4">{% include figure.html path="assets/logo/wsj.png" title="WSJ" class="img-fluid rounded" %}</a>
                </div>
              <div class="col">
                <a href="https://www.bloomberg.com/news/articles/2023-07-26/extreme-heat-drought-drive-opposition-to-ai-data-centers">{% include figure.html path="assets/logo/bloomberg.png" title="Bloomberg" class="img-fluid rounded" %}</a>
              </div>
              <div class="col">
                  <a href="https://www.cbc.ca/player/play/2227096643554">{% include figure.html path="assets/logo/cbc.png" title="CBC" class="img-fluid rounded" %}</a>
              </div>
              <div class="col">
                  <a href="https://www.theguardian.com/technology/2023/jun/08/artificial-intelligence-industry-boom-environment-toll">{% include figure.html path="assets/logo/guardian.png" title="The Guardian" class="img-fluid rounded" %}</a>
              </div>
            </div>
          </div>
 

          Our research has also been cited/curated by <b>non-profit organizations, government agencies, and policy think tanks</b> worldwide, including 
          <a href="https://www.globalwaterforum.org/2023/11/02/a-double-edged-sword-ais-energy-water-footprint-and-its-role-in-resource-conservation/">Global Water Forum</a>,
          <a href="https://www.rockefellerfoundation.org/blog/bold-urgent-proposals-for-using-ai-in-climate-action">The Rockefeller Foundation</a>,
          <a href="https://ainowinstitute.org/general/climate-justice-and-labor-rights-part-i-ai-supply-chains-and-workflows">AI Now Institute</a>,
          <a href="https://www.conseil-constitutionnel.fr/sites/default/files/as/root/bank_mm/decisions/2023850dc/2023850dc_contributions.pdf">Conseil Constitutionnel (constitutional authority) in France</a>,
          <a href="https://stateof.greensoftware.foundation/insights/decarbonization-alone-cannot-make-software-green/">Green Software Foundation</a>, 
          <a href="https://guides.lib.uw.edu/hsl/ai">UW Health Sciences Library</a>,
          <a href="https://thelivinglib.org/making-ai-less-thirsty-uncovering-and-addressing-the-secret-water-footprint-of-ai-models-2/">The Living Library at NYU</a>,
          <a href="https://montrealethics.ai/towards-environmentally-equitable-ai-via-geographical-load-balancing/">Montreal AI Ethics Institute</a>,
          <a href="https://www.scu.edu/ethics/internet-ethics-blog/on-ai-ethics-and-the-environment/">Markkula Center for Applied Ethics</a>,
          <a href="http://www.saisperspectives.com/22-23issue/2023/6/6/green-ai-the-need-for-sustainable-ai">Johns Hopkins SAIS Perspectives</a>,
          <a href="https://www.forbrukerradet.no/side/new-report-generative-ai-threatens-consumer-rights/">Forbrukerradet (Consumer Council, a Norwegian government agency)</a>, 
          <a href="http://h2oradio.org/this-week-in-water/rivers-are-running-out-of-breath">H2O Radio</a>,
          <a href="https://bilimgenc.tubitak.gov.tr/makale/chatgpt-insanlardan-daha-fazla-su-tuketiyor-olabilir">TUBITAK (The Scientific and Technological Research Institution of Turkey)</a>,
         <!-- <a href="https://b3lab.org/en/sayfa/what_does_ai_ethics_say_about_the_potential_of_ai_for_sustainable_development_goals-86">B3 Lab in Turkey</a>, -->
          <a href="https://bettersociety.net/AL-Chatbot-water-footprint.php">Better Society Network in the UK</a>, <a href="https://www.reframetech.de/2023/07/06/erlesenes-fokusausgabe-ki-und-nachhaltigkeit/">Algorithmen furs Gemeinwohl (Algorithms for the Common Good) in Germany</a>, 
          and
          <a href="https://www.uts.edu.au/human-technology-institute/news/report-launch-state-ai-governance-australia">UTS Human Technology Institute in Australia</a>, among others. 
          

          <br/>
          <br/>

          

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h3><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">recent highlights</a></h3>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}


          <!-- Education -->
          <h3>education</h3>
          <div class="row">
              <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 75px;">
                08/2008 -- 07/2012
                </span>
              </div>
              <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                <h6 class="title font-weight-bold ml-1 ml-md-4"><a href="https://www.ucla.edu/">University of California, Los Angeles</a></h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Ph.D. in Electrical Engineering</h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Advisor: <a href="https://www.vanderschaar-lab.com/">Mihaela van der Schaar</a> (now with the University of Cambridge)</h6>
                <!--  <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">California</h6>
                <ul class="items">
                <li>
                <span class="item">ECE</span>
                </li>
                </ul>-->  
              </div>
          </div>

          <div class="row">
              <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 75px;">
                09/2006 -- 08/2008
                </span>
              </div>
              <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                <h6 class="title font-weight-bold ml-1 ml-md-4"><a href="https://hkust.edu.hk/">The Hong Kong University of Science and Technology</a></h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">M.Phil. in Electronic and Computer Engineering</h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Advisor: <a href="https://eekhaled.home.ece.ust.hk/">Khaled B. Letaief</a></h6>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 75px;">
                09/2002 -- 07/2006
                </span>
              </div>
              <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                <h6 class="title font-weight-bold ml-1 ml-md-4"><a href="https://www.tsinghua.edu.cn/en/">Tsinghua University, Beijing, China</a></h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">B.E. in Electronics and Information Engineering</h6>
              </div>
          </div>

          <br/>  
          <h3>employment</h3>
          <div class="row">
              <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                <span class="badge font-weight-bold stylish-color align-middle" style="min-width: 75px;">
                07/2015 -- Present
                </span>
              </div>
              <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                <h6 class="title ml-1 ml-md-4"><a href="https://www.ucla.edu/">University of California, Riverside</a></h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Associate Professor of Electrical and Computer Engineering</h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Cooperating Faculty of Computer 
                Science and Engineering</h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Assistant Professor of Electrical and Computer Engineering (07/2015--06/2019)</h6> 
              </div>
          </div>

          <div class="row">
              <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 75px;">
                08/2012 -- 06/2015
                </span>
              </div>
              <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                <h6 class="title ml-1 ml-md-4"><a href="https://www.cis.fiu.edu/">Florida International University</a></h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Assistant Professor of Computing and Information Sciences</h6>
              </div>
          </div>
          <br/>

          <h3>professional services</a></h3>
          I frequently serve on the technical program committee of <a href="https://www.sigmetrics.org/">ACM SIGMETRICS</a>, <a href="https://energy.acm.org/">ACM e-Energy</a>, and major AI conferences such as NeurIPS and ICML. I am/was an associate editor of 
          <a href="https://dl.acm.org/journal/tompecs">ACM Transactions on Modeling and Performance Evaluation of Computing Systems</a>, <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=4267003">IEEE Systems Journal</a>, and <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=7511293">IEEE Transactions on Green Communications and Networking</a>. I have also served as a guest editor for special issues in
          <a href="https://www.computer.org/digital-library/journals/su/cfp-carbon-neutral-computing">IEEE Transactions on Sustainable Computing</a> and <a href="https://www.sciencedirect.com/journal/performance-evaluation/about/call-for-papers#performance-analysis-and-evaluation-of-systems-for-artificial-intelligence">Performance Evaluation</a>.

          <br/>
          <br/>

          <!--
          <h3>teaching</a></h3>
          I regularly teach the following courses: Signal and Systems, Digital Signal Processing, and Data Center Architecture (graduate-level).
          <br/>
          <br/>
          -->
          
          <h3>contact</a></h3>
          Shaolei Ren<br/>
          Department of Electrical and Computer Engineering<br/>
          University of California, Riverside<br/>
          <!-- 900 University Avenue<br/>-->
          Riverside, CA 92521, United States<br/>
          <br/>

          <b>Office:</b> Winston Chung Hall 319<br/>
          <b>Phone:</b> 951-827-2260<br/>
          <b>E-mail:</b> shaolei@ucr.edu<br/>


        </article>

</div>
