---
layout: default
---
 
<!-- about.html -->
<div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>


          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
          <!-- <h3><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h3> -->
          <h3>news</h3>  
            {%- include news.html limit=true %}
          {%- endif %}


          <h3>to new students</h3>
          <strong>Our group is looking for multiple PhD students (in ECE or CS)</strong> to work on exciting projects related to machine learning, optimization, efficient AI, or gigawatt-scale data centers. Students with interests in theory, algorithms, or empirical system building are welcome to contact: <a href="mailto:shaolei@ucr.edu">shaolei@ucr.edu</a>
          <br/>
          <br/>


          <!-- Selected media -->
          <h3>news</h3>

          <div class="row" style="margin-bottom: 8px;">
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 06/2026
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">Our paper <a href="https://arxiv.org/abs/2412.06288">"Health-informed computing"</a> is accepted by <b><a href="https://cacm.acm.org/about-us/">Communications of the ACM</a></b>. The paper estimates that U.S. data centers' annual public health costs could exceed $20 billion by 2028 and proposes a health-informed computing framework to mitigate these impacts across space and time.</div>
          </div>

          <div class="row" style="margin-bottom: 8px;">
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 07/2026
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">Our review article <a href="https://www.nature.com/articles/s44359-026-00195-w">"Strategies and design for increasing AI sustainability"</a> is published in <b><a href="https://www.nature.com/nrcleantechnol/">Nature Reviews Clean Technology</a></b>. The paper examines the growing environmental impacts of AI data centers and highlights strategies such as hardware design, grid-integrated operation, and joint energy-water-carbon management to increase AI sustainability.</div>
          </div>

          <div class="row" style="margin-bottom: 8px;"> 
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 09/2025
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">Our paper <a href="https://openreview.net/forum?id=wsmP79iuyT">"Fairness-Regularized Online Optimization with Switching Costs"</a> is accepted by 
               <b><a href="https://openreview.net/forum?id=wsmP79iuyT">NeurIPS'25</a></b>. This paper studies robust online decison-making with long-term fairness consideration and is motivated by many real-world applications such as balancing the public health impact of AI data centers across different regions.</div>
          </div>  

          <div class="row" style="margin-bottom: 8px;"> 
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 09/2025
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">  
                Our guest article <a href="https://spectrum.ieee.org/ai-water-usage">"The Real Story on AI's Water Use"</a> is published in 
               <strong><a href="https://spectrum.ieee.org/ai-water-usage">IEEE Spectrum</a></strong> and clarifies some key facts of AI's water footprint to facilitate evidence-based public discussions. A longer version is published in <strong><a href="https://oecd.ai/en/wonk/ways-to-minimise-water-use-related-to-ai-operations-not-what-you-think">OECD AI Policy Observatory</a></strong>.
              </div>
          </div>



          <div class="row" style="margin-bottom: 8px;"> 
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 02/2025
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">
               <strong>My <a href="https://www.ted.com/talks/shaolei_ren_ai_consumes_a_lot_of_water_but_why">TED talk</a> is live now!</strong>
              </div>
          </div>

          <!-- 
          <div class="row" style="margin-bottom: 8px;"> 
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 02/2025
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">
                 I have recently delivered invited talks at several organizations including: 
                 <ul>
                   <li>
                     <a href="https://cie.research.yale.edu/events/digital-economy-and-environment">Yale Center for Industrial Ecology</a>
                   </li>

                   <li>
                     <a href="https://ics.uci.edu/event/the-unpaid-toll-quantifying-and-minimizing-the-public-health-impact-of-ai/">UC Irvine</a>
                   </li>

                   <li>
                     <a href="https://www.oecd.org/en/events/2025/01/ai-summit.html">OECD/IEEE Side Event at France AI Action Summit</a>
                   </li>

                   <li>
                     Google Climate
                   </li>

                   <li>
                     <a href="https://nsf-desc-2024.github.io/program/">NSF Workshop on Sustainable Computing</a> 
                   </li>

                   <li>
                     <a href="https://www.scu.edu/ethics/events/ai-and-the-environment/">Markkula Center for Applied Ethics at SCU</a>
                   </li>

                   <li>
                     <a href="https://www.wri.org/">World Resources Institute</a>
                   </li>

                   <li>
                     <a href="https://www.nrdc.org/">Natural Resources Defense Council</a>
                   </li> 


                   <li>
                     <a href="https://www.ted.com/talks/shaolei_ren_ai_consumes_a_lot_of_water_but_why">TED AI Vienna</a>
                   </li>
                 </ul> 

                 <strong>Erratum:</strong> In some of my recorded presentations between January 1 and February 28, 2025, a typo appeared on the third or fourth slide in the background section. The phrase "~25,000 homes' annual electricity" should be "~25,000 homes' monthly electricity."
              </div>
          </div>

          



          -->


          <div class="row" style="margin-bottom: 8px;"> 
              <div class="col-xs-1 cl-sm-1 col-md-1 text-center" style="width: 30px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 30px;">
                 09/2024
                </span>
              </div>
              <div class="col-xs-11 cl-sm-11 col-md-11 mt-2 mt-md-0">
               I'm glad to share four recent papers accepted by <b><a href="https://www.sigmetrics.org/sigmetrics2025/">SIGMETRICS'25</a></b> and <b><a href="https://neurips.cc/Conferences/2024">NeurIPS'24</a></b>. 
               (1) The SIGMETRICS'25 paper <a href="https://arxiv.org/abs/2306.10158">"Learning-Augmented Decentralized Online Convex Optimization in Networks"</a>  proposes a novel algorithm to provably robustify machine learning predictions for decentralized optimization in networks.
               (2) The NeurIPS'24 paper <a href="https://arxiv.org/abs/2406.01946">"Bileve: Securing Text Provenance in Large Language Models Against Spoofing with Bi-level Signature"</a> proposes a novel anti-spoofing watermarking method to safeguard LLM-generated content. (3) The NeurIPS'24 paper <a href="/">"Online Budgeted Matching with General Bids"</a> proposes provably-competitive online algorithms for budgeted matching with arbitrary bid sizes. (4) The NeurIPS'24 paper <a href="/">"Safe Exploitative Play in Stochastic Bayesian Games with Untrusted Type Beliefs"</a>  quantifies the impact of potentially incorrect type beliefs on an agent's payoff in Bayesian games.
              </div>
          </div>
         

          <br/>

          

          

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h3><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">recent highlights</a></h3>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Selected media -->

 

          <!-- Education -->
          <h3>education</h3>
          <div class="row">
              <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 75px;">
                08/2008 -- 07/2012
                </span>
              </div>
              <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                <h6 class="title font-weight-bold ml-1 ml-md-4"><a href="https://www.ucla.edu/">University of California, Los Angeles</a></h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Ph.D. in Electrical Engineering</h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Advisor: <a href="https://www.vanderschaar-lab.com/">Mihaela van der Schaar</a> (now with the University of Cambridge)</h6>
                <!--  <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">California</h6>
                <ul class="items">
                <li>
                <span class="item">ECE</span>
                </li>
                </ul>-->  
              </div>
          </div>

          <div class="row">
              <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 75px;">
                09/2006 -- 08/2008
                </span>
              </div>
              <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                <h6 class="title font-weight-bold ml-1 ml-md-4"><a href="https://hkust.edu.hk/">The Hong Kong University of Science and Technology</a></h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">M.Phil. in Electronic and Computer Engineering</h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Advisor: <a href="https://eekhaled.home.ece.ust.hk/">Khaled B. Letaief</a></h6>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 75px;">
                09/2002 -- 07/2006
                </span>
              </div>
              <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                <h6 class="title font-weight-bold ml-1 ml-md-4"><a href="https://www.tsinghua.edu.cn/en/">Tsinghua University, Beijing, China</a></h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">B.E. in Electronics and Information Engineering</h6>
              </div>
          </div>

          <br/>  
          <h3>employment</h3>
          <div class="row">
              <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                <span class="badge font-weight-bold stylish-color align-middle" style="min-width: 75px;">
                07/2015 -- Present
                </span>
              </div>
              <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                <h6 class="title ml-1 ml-md-4"><a href="https://www.ucla.edu/">University of California, Riverside</a></h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Professor of Electrical and Computer Engineering</h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Cooperating Faculty of Computer 
                Science and Engineering</h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Assistant/Associate Professor of Electrical and Computer Engineering (07/2015--06/2026)</h6> 
              </div>
          </div>

          <div class="row">
              <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                <span class="badge font-weight-bold stylish-color text-uppercase align-middle" style="min-width: 75px;">
                08/2012 -- 06/2015
                </span>
              </div>
              <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                <h6 class="title ml-1 ml-md-4"><a href="https://www.cis.fiu.edu/">Florida International University</a></h6>
                <h6 class="ml-1 ml-md-4" style="font-size: 1.0rem;">Assistant Professor of Computing and Information Sciences</h6>
              </div>
          </div>
          <br/>

          <h3>professional services</a></h3>
          I frequently serve on the technical program committee of <a href="https://www.sigmetrics.org/">ACM SIGMETRICS</a>, <a href="https://energy.acm.org/">ACM e-Energy</a>, and major AI conferences such as NeurIPS and ICML. I am/was an associate editor of 
          <a href="https://dl.acm.org/journal/tompecs">ACM Transactions on Modeling and Performance Evaluation of Computing Systems</a>, <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=4267003">IEEE Systems Journal</a>, and <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=7511293">IEEE Transactions on Green Communications and Networking</a>. I have also served as a guest editor for special issues in
          <a href="https://www.computer.org/digital-library/journals/su/cfp-carbon-neutral-computing">IEEE Transactions on Sustainable Computing</a> and <a href="https://www.sciencedirect.com/journal/performance-evaluation/about/call-for-papers#performance-analysis-and-evaluation-of-systems-for-artificial-intelligence">Performance Evaluation</a>.

          <br/>
          <br/>

          <!--
          <h3>teaching</a></h3>
          I regularly teach the following courses: Signal and Systems, Digital Signal Processing, and Data Center Architecture (graduate-level).
          <br/>
          <br/>
          -->
          
          <h3>contact</a></h3>
          Shaolei Ren<br/>
          Department of Electrical and Computer Engineering<br/>
          University of California, Riverside<br/>
          <!-- 900 University Avenue<br/>-->
          Riverside, CA 92521, United States<br/>
          <br/>

          <b>Office:</b> Winston Chung Hall 319<br/>
          <b>Phone:</b> 951-827-2260<br/>
          <b>E-mail:</b> shaolei@ucr.edu<br/>


        </article>

        <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}

</div>
