---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">societal impacts</h1>
    <!-- <p class="post-description">{{ page.description }}</p> -->
  </header>

  <b>under construction</b>
  <br/>
  <br/>
  
  Our research has extended well beyond academic publications and generated broader societal impacts in various ways, raising public awareness of AI+sustainability. It has been reported and covered by 800+ media outlets in more than 60 countries. Additionally, it has been cited/curated by non-profit organizations, government agencies, and policy think tanks worldwide. Here, I list 
  some media reports in selected countries.
  <br/>
  <br/>
  <article>
          <h3 class="card-title font-weight-medium">selected media</h3>
          
          <h3 class="card-title font-weight-medium">north america</h3>
          <h4 class="card-title font-weight-medium">United States</h4>
          Test test
          Test test
          Test test
          Test test
          Test test
       
          <h4 class="card-title font-weight-medium">Canada</h4>
          <h4 class="card-title font-weight-medium">Mexico</h4>
          
          <h3 class="card-title font-weight-medium">europe</h3>

          <h3 class="card-title font-weight-medium">south america</h3>

          <h3 class="card-title font-weight-medium">asia & australia</h3>

          <h3 class="card-title font-weight-medium">africa</h3>

          <h3 class="card-title font-weight-medium">others</h3>

  </article>
  

</div>




</div>
