---
layout: default
---


  <header class="post-header">
    <h1 class="post-title">societal impacts</h1>
    <!-- <p class="post-description">{{ page.description }}</p> -->
  </header>



  <!-- <p style="font-size: 2rem; color:red"><b>under construction</b></p>

  <br/>
  <br/>-->
  

  Research plays a critical role in the advancement of society. Over the last decade, my group has been pushing forward the boundaries of the existing literature by uncovering and addressing water sustainability and environmental equity in networked AI/computing systems. Please see some of our earlier publications
  (e.g., <a href="/assets/pdf/papers/water_cgc_2013.pdf">CGC'13</a>, <a href="/assets/pdf/papers/water_tcc_2018.pdf">TCC'18</a>) and our first NSF grant on this topic (<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1423137">CNS-1423137<a>/<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1565474">CNS-1565474</a>). 
  <br><br>


  Our research has generated broader societal impacts in various ways,
  including informing AI policies and advancing public awarenessof sustainability and equity. 
  <!--Today, the critical importance of water sustainability is being increasingly recognized in the computing's community. For example, the <b><a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=OJ%3AJOL_2023_231_R_0001&qid=1695186598766">EU Directive 2023/1791</a></b> requires reporting of water usage by large data centers,
  and the <b><a href="https://www.iec.ch/blog/importance-sustainable-ai">ISO/IEC</a></b> is working on a new international standard on sustainable AI, including water usage!-->
  For example, our research has been included in official policy reports/guidelines by multiple international organizations and government agencies,
  including <b><a href="https://iris.who.int/bitstream/handle/10665/375579/9789240084759-eng.pdf">World Health Organization</a></b>, <b><a href="https://www3.weforum.org/docs/WEF_AI_Governance_Alliance_Briefing_Paper_Series_2024.pdf">World Economic Forum</a></b>, 
  and <b><a href="https://ai.gov/naiac/">The U.S. National AI Advisory Committee</a></b> (in the statement "Rationales, Mechanisms, and Challenges to Regulating AI"), among others. Importantly, 
     <b><a href="https://iris.who.int/bitstream/handle/10665/375579/9789240084759-eng.pdf">World Health Organization</a></b> adopts our sustainable AI research in its official recommendations to governments regarding
     AI ethics and governance. 
   

  <br><br>
  Our research has also been reported by 
 800+ major news outlets in <b>~100 countries</b>. 
  Below, I list
  some media reports as well as a few interesting videos.
  <br/>
  <br/>
  

  <article>
    <h3 class="card-title font-weight-medium">Highlights</h3>

      <div class="impacts">
        <div class="grid">    

          <div class="grid-item">

            <a href="https://www.nature.com/articles/d41586-023-03768-y">
              <div class="card hoverable">
                <img src="/assets/news/nature.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Nature Briefing</p>
                  <p class="card-text">Data centres' huge "water footprint" becomes clear amid AI boom</p>
                </div>
              </div>
            </a>
          </div>
          
          <div class="grid-item">

            <a href="https://apnews.com/article/chatgpt-gpt4-iowa-ai-water-consumption-microsoft-f551fde98083d17a7e8d904f8be822c4">
              <div class="card hoverable">
                <img src="/assets/news/ap.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">The Associated Press</p>
                  <p class="card-text"><b>(Also republished in
                  ABC News, CNBC, The Hill, Fortune, etc.)</b> Artificial intelligence technology behind ChatGPT was built in Iowa — with a lot of water</p>
                </div>
              </div>
            </a>
          </div>

          


          <div class="grid-item">
            <a href="https://www.wsj.com/articles/artificial-intelligence-can-make-companies-greener-but-it-also-guzzles-energy-7c7b678">
              <div class="card hoverable">
                <img src="/assets/news/wsj.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">The Wall Street Journal</p>
                  <p class="card-text">Artificial Intelligence Can Make Companies Greener, but It Also Guzzles Energy</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://www.bloomberg.com/news/articles/2023-07-26/extreme-heat-drought-drive-opposition-to-ai-data-centers">
              <div class="card hoverable">
                <img src="/assets/news/bloomberg.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Bloomberg</p>
                  <p class="card-text">Thirsty Data Centers Are Making Hot Summers Even Scarier</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://www.lefigaro.fr/secteur/high-tech/l-ia-et-chatgpt-bousculent-l-industrie-des-data-centers-20231128">
              <div class="card hoverable">
                <img src="/assets/news/figaro.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Le Figaro</p>
                  <p class="card-text">L'IA et ChatGPT bousculent l'industrie des data centers</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://www.nouvelobs.com/economie/20230918.OBS78305/pourquoi-chatgpt-est-une-bombe-environnementale.html">
              <div class="card hoverable">
                <img src="/assets/news/lobs.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">L'OBS</p>
                  <p class="card-text">Pourquoi ChatGPT est une bombe environnementale</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://www.cbsnews.com/news/artificial-intelligence-carbon-footprint-climate-change/">
              <div class="card hoverable">
                <img src="/assets/news/cbs.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">CBS News</p>
                  <p class="card-text">Some experts see AI as a tool against climate change. Others say its own carbon footprint could be a problem.</p>
                </div>
              </div>
            </a>
          </div>
          

          <div class="grid-item">
            <a href="https://www.bbc.co.uk/programmes/w3ct4tq9">
              <div class="card hoverable">
                <img src="/assets/news/bbc.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">BBC</p>
                  <p class="card-text">Charting the true cost of AI</p>
                </div>
              </div>
            </a>
          </div>

          
          <div class="grid-item">
            <a href="https://www.ft.com/content/6c050c72-cd3d-4159-a209-84a427edaf4a">
              <div class="card hoverable">
                <img src="/assets/news/ft.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Financial Times</p>
                  <p class="card-text">Water worries hit the chip sector</p>
                </div>
              </div>
            </a>
          </div>


          <div class="grid-item">
            <a href="https://www.theguardian.com/technology/2023/jun/08/artificial-intelligence-industry-boom-environment-toll">
              <div class="card hoverable">
                <img src="/assets/news/guardian.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">The Guardian</p>
                  <p class="card-text">As the AI industry booms, what toll will it take on the environment?</p>
                </div>
              </div>
            </a>
          </div>


          <div class="grid-item">
            <a href="https://www.newscientist.com/article/2381859-shifting-where-data-is-processed-for-ai-can-reduce-environmental-harm/">
              <div class="card hoverable">
                <img src="/assets/news/newscientist.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">New Scientist</p>
                  <p class="card-text">Shifting where data is processed for AI can reduce environmental harm</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://elpais.com/tecnologia/2023-06-27/chatgpt-necesita-beberse-medio-litro-de-agua-para-tener-una-conversacion-el-conflicto-de-la-tecnologia-azul.html">
              <div class="card hoverable">
                <img src="/assets/news/elpais.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">El Pais</p>
                  <p class="card-text">ChatGPT necesita beberse medio litro de agua para tener una conversación: el conflicto de la tecnología azul</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://timesofindia.indiatimes.com/india/ai-chatbots-may-be-fun-but-they-have-a-drinking-problem/articleshow/100634953.cms">
              <div class="card hoverable">
                <img src="/assets/news/toi.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Times of India</p>
                  <p class="card-text">AI chatbots may be fun, but they have a drinking problem</p>
                </div>
              </div>
            </a>
          </div>


          <div class="grid-item">
            <a href="https://www.lavanguardia.com/vida/20230415/8897250/chatgpt-consume-botella-medio-litro-conversacion.html">
              <div class="card hoverable">
                <img src="/assets/news/lavanguardia.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">La Vanguardia</p>
                  <p class="card-text">ChatGPT consume medio litro de agua en cada conversación sencilla</p>
                </div>
              </div>
            </a>
          </div>
          
          <div class="grid-item">
            <a href="https://www.ansa.it/canale_tecnologia/notizie/future_tech/2023/09/11/chatgpt-consuma-acqua-arriva-da-fiumi-vicino-ai-campi-di-grano_c208c7d9-d4ad-4185-85b9-0b3b87fe1f78.html">
              <div class="card hoverable">
                <img src="/assets/news/ansa.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">ANSA</p>
                  <p class="card-text">ChatGpt consuma acqua, arriva dai fiumi vicino ai campi di grano</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://www.foxnews.com/video/6325209341112">
              <div class="card hoverable">
                <img src="/assets/news/fox.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Fox News</p>
                  <p class="card-text">Mass AI computing creates concerns over algorithms' massive water waste and environmental impact</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://www.chosun.com/economy/economy_general/2023/04/24/TYK72GMRQZAGLHZMJWEKX6KQQ4/">
              <div class="card hoverable">
                <img src="/assets/news/chosun.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Chosun Ilbo</p>
                  <p class="card-text">'물 먹는 하마'' 챗GPT... 질문 20~50개면 냉각수로 생수 한 통 '꿀꺽'</p>
                </div>
              </div>
            </a>
          </div>

          <!--
          <div class="grid-item">
            <a href="https://elcomercio.pe/tecnologia/inteligencia-artificial/la-contaminacion-que-produce-chatgpt-por-cada-conversacion-la-ia-consume-una-botella-de-agua-inteligencia-artificial-chatbot-mexico-espana-estados-unidos-noticia/">
              <div class="card hoverable">
                <img src="/assets/news/elcomercio.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">El Comercio</p>
                  <p class="card-text">La contaminacion que produce ChatGPT: por cada conversacion la IA "consume" una botella de agua</p>
                </div>
              </div>
            </a>
          </div>
          -->
          

          <div class="grid-item">
            <a href="https://www.berliner-zeitung.de/news/forscher-schlagen-alarm-so-durstig-ist-chatgpt-us-studie-berechnet-wasserverbrauch-von-ki-li.338385">
              <div class="card hoverable">
                <img src="/assets/news/berliner.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Berliner Zeitung</p>
                  <p class="card-text">Forscher schlagen Alarm: So „durstig“ ist ChatGPT</p>
                </div>
              </div>
            </a>
          </div>
          

          
          
          
          

    <!--      <div class="grid-item">
            <a href="https://www.euronews.com/green/2023/04/20/chatgpt-drinks-a-bottle-of-fresh-water-for-every-20-to-50-questions-we-ask-study-warns">
              <div class="card hoverable">
                <img src="/assets/news/euronews.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">EuroNews</p>
                  <p class="card-text">ChatGPT 'drinks' a bottle of fresh water for every 20 to 50 questions we ask, study warns</p>
                </div>
              </div>
            </a>
          </div> -->
          
          
        </div>
      </div>
    
      <iframe width="280" height="157" src="https://www.youtube.com/embed/SGHk3zE5xh4?si=Hlos3p83oKXhPOcN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
      <iframe width="280" height="157" src="https://www.youtube.com/embed/WYHslY80cNA?si=ClTwU1OkEb3Fv4IT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


      <iframe width="280" height="157" src="https://www.youtube.com/embed/RT8-GlA_rkM?si=h3kWQkNBA4FaXqn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      

      <iframe width="280" height="157" src="https://www.youtube.com/embed/JIYRf_K56b4?si=gz0IMvtpkreGMH7M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      

      <iframe width="280" height="157" src="https://www.youtube.com/embed/4CeZpMzNfQs?si=2faBJMR7CekHsddU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 


      <iframe src="https://www.facebook.com/plugins/video.php?height=211&href=https%3A%2F%2Fwww.facebook.com%2Fdw.business%2Fvideos%2F612419650810141%2F&show_text=false&width=280&t=0" width="280" height="157" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> 

      <iframe src="https://www.vozdeamerica.com/embed/player/0/7073498.html?type=video" frameborder="0" scrolling="no" width="280" height="157" allowfullscreen></iframe>

      <iframe width="280" height="157" src="https://www.youtube.com/embed/UjzU5iwA29I?si=MdBUTs1WI2-8zxK9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <iframe width="280" height="157" src="https://www.youtube.com/embed/ZoFnTi60MFc?si=QB_GRKDUIZwjq7El" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <iframe width="280" height="157" src="https://www.youtube.com/embed/rNq5JqqIx2I?si=Rcc-ObaPHqedE28c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <iframe width="280" height="157" src="https://www.youtube.com/embed/hKn1kbDJN8k?si=_OyBhev1jnaSpcw9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <iframe width="280" height="157" src="https://www.youtube.com/embed/zyIJXLbZwtY?si=K4PcN4nMB0QD2QH1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <iframe width="280" height="157" src="https://www.youtube.com/embed/eayqk2Jwb-Q?si=PEg24wj9deCAiNq2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <iframe width="280" height="157" src="https://www.youtube.com/embed/dzct8zVjbsA?si=o75DEUdkzIgAg-a6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      
      <!--<iframe width="280" height="157" src="https://www.youtube.com/embed/RpV4SOEh1AM?si=d4hxKpM4UejgJF3B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->
      


      
      
      <div class="container">

            <!--
            <div class="row">
                  <div class="col">
                  <blockquote width="255" class="twitter-tweet"><p lang="en" dir="ltr">As demand for AI continues to rise, the costs of maintaining these programs and supercomputers are also increasing. And the price of running AI programs is not just financial - these programs are costing us water. <a href="https://t.co/fxTfV1BA5y">pic.twitter.com/fxTfV1BA5y</a></p>&mdash; Algorithmic Justice League (@AJLUnited) <a href="https://twitter.com/AJLUnited/status/1712556589515931799?ref_src=twsrc%5Etfw">October 12, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col">
                  <blockquote  width="255" class="twitter-tweet"><p lang="en" dir="ltr">AI uses an insane amount of energy and water 🌊<a href="https://twitter.com/kylascan?ref_src=twsrc%5Etfw">@kylascan</a> explains why Microsoft is going nuclear 🎥 <a href="https://t.co/WcZsQwTGjU">pic.twitter.com/WcZsQwTGjU</a></p>&mdash; Bloomberg Opinion (@opinion) <a href="https://twitter.com/opinion/status/1708142910263468133?ref_src=twsrc%5Etfw">September 30, 2023</a></blockquote><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                </div>
            </div>

            
            <div class="row">
                  <div class="col">
                  <blockquote width="370" class="twitter-tweet"><p lang="fr" dir="ltr">Chaque fois que t’utilises ChatGPT, tu consommes de l’eau 🍋 <a href="https://twitter.com/hashtag/chatgpt?src=hash&amp;ref_src=twsrc%5Etfw">#chatgpt</a> <a href="https://twitter.com/hashtag/ia?src=hash&amp;ref_src=twsrc%5Etfw">#ia</a> <a href="https://twitter.com/hashtag/eau?src=hash&amp;ref_src=twsrc%5Etfw">#eau</a> <a href="https://twitter.com/hashtag/pressecitron?src=hash&amp;ref_src=twsrc%5Etfw">#pressecitron</a> <a href="https://t.co/CLlEYvYs56">pic.twitter.com/CLlEYvYs56</a></p>&mdash; Presse-citron (@pressecitron) <a href="https://twitter.com/pressecitron/status/1703450676833992747?ref_src=twsrc%5Etfw">September 17, 2023</a></blockquote><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                </div>
                <div class="col">
                  <blockquote width="370" class="twitter-tweet"><p lang="fr" dir="ltr">L’IA, comme GPT-4, nécessite d’énormes quantités d’eau ! 🌊 <a href="https://twitter.com/hashtag/IA?src=hash&amp;ref_src=twsrc%5Etfw">#IA</a> <a href="https://twitter.com/hashtag/ChatGPT?src=hash&amp;ref_src=twsrc%5Etfw">#ChatGPT</a> <a href="https://twitter.com/hashtag/01news?src=hash&amp;ref_src=twsrc%5Etfw">#01news</a> <a href="https://t.co/Ff0zZNNXvA">pic.twitter.com/Ff0zZNNXvA</a></p>&mdash; 01net (@01net) <a href="https://twitter.com/01net/status/1705896026769334559?ref_src=twsrc%5Etfw">September 24, 2023</a></blockquote><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                </div>
            </div>
            -->
            
      </div>

  <br/><br/>    

  <h3 class="card-title font-weight-medium">North & South America</h3>
  
  United States (<a href="https://apnews.com/article/chatgpt-gpt4-iowa-ai-water-consumption-microsoft-f551fde98083d17a7e8d904f8be822c4">The Associated Press</a>, <a href="https://www.wsj.com/articles/artificial-intelligence-can-make-companies-greener-but-it-also-guzzles-energy-7c7b678">The Wall Street Journal</a>, <a href="https://www.bloomberg.com/news/articles/2023-07-26/extreme-heat-drought-drive-opposition-to-ai-data-centers">Bloomberg</a>, <a href="https://www.cbsnews.com/news/artificial-intelligence-carbon-footprint-climate-change/">CBS</a>, 
  <a href="https://www.theatlantic.com/technology/archive/2023/08/ai-carbon-emissions-data-centers/675094/">The Atlantic</a>, <a href="https://www.forbes.com/sites/federicoguerrini/2023/04/14/ais-unsustainable-water-use-how-tech-giants-contribute-to-global-water-shortages/?sh=2e9e251d4939">Forbes</a>,   <a href="https://fortune.com/2023/09/09/ai-chatgpt-usage-fuels-spike-in-microsoft-water-consumption/">Fortune</a>),
  Canada (<a href="https://www.cbc.ca/player/play/2227096643554">CBC</a>, 
  <a href="https://www.ctvnews.ca/climate-and-environment/ai-and-data-centres-drink-up-billions-of-litres-of-water-experts-say-this-is-why-1.6583291">CTV News</a>, <a href="https://nationalpost.com/pmn/news-pmn/artificial-intelligence-technology-behind-chatgpt-was-built-in-iowa-with-a-lot-of-water">National Post</a>, <a href="https://financialpost.com/news/freshwater-could-run-out-2040-report">Financial Post</a>), Mexico (<a href="https://www.milenio.com/tecnologia/chatgpt-ai-beben-litros-agua-contribuyen-escasez-mundial">Milenio
</a>, <a href="https://www.infobae.com/tecno/2023/09/11/cuanta-agua-consume-la-inteligencia-artificial-chatgpt/">Infobae</a>, 
<a href="https://aristeguinoticias.com/2004/kiosko/chatgpt-consume-medio-litro-de-agua-por-cada-conversacion-simple-estudio/">Aristegui Noticias</a>,
<a href="https://www.elfinanciero.com.mx/tech/2023/04/14/chatgpt-sediento-esta-cantidad-de-agua-necesita-la-ai-para-responder-una-sesion-de-preguntas/">El Financiero</a>), Brazil (<a href="https://oglobo.globo.com/economia/tecnologia/noticia/2023/05/treino-do-chatgpt-consumiu-700-mil-litros-de-agua-equivalente-a-encher-uma-torre-de-resfriamento-de-um-reator-nuclear.ghtml">O Globo</a>), Colombia (<a href="https://www.semana.com/tecnologia/articulo/chatgpt-una-amenaza-para-el-planeta-revelan-la-cantidad-de-agua-que-utiliza-para-enfriar-sus-bases-de-datos/202340/">Semana</a>,  <a href="https://www.enter.co/especiales/dev/ai/inteligencia-de-chatgpt-no-es-gratis-para-el-planeta-su-funcionamiento-consume-miles-de-litros-de-agua-por-que/">Enter</a>, <a href="https://www.bluradio.com/tecnologia/chatgpt-necesita-beber-una-botella-de-agua-de-500-ml-por-cada-conversacion-rs15">Bluradio</a>, 
<a href="https://www.larepublica.co/internet-economy/la-ia-usa-500-ml-de-agua-por-dialogo-3614683">Diario La Republica</a>),
Peru (<a href="https://elcomercio.pe/tecnologia/inteligencia-artificial/la-contaminacion-que-produce-chatgpt-por-cada-conversacion-la-ia-consume-una-botella-de-agua-inteligencia-artificial-chatbot-mexico-espana-estados-unidos-noticia/">El Comercio</a>, <a href="https://rpp.pe/tecnologia/mas-tecnologia/chatgpt-estudio-revela-que-ia-consume-una-cantidad-descomunal-de-agua-en-sus-servidores-noticia-1478666">RPP Noticias</a>, <a href="https://larepublica.pe/tecnologia/actualidad/2023/04/20/cuantos-miles-de-litros-de-agua-necesita-chatgpt-para-funcionar-y-por-que-consume-tanto-1259900#google_vignette">La Republica</a>), Paraguay (<a href="https://www.abc.com.py/tecnologia/2023/07/28/una-consulta-en-chatgpt-consume-tres-veces-mas-energia-que-en-el-buscador-de-google/">ABC</a>),
Argentina (<a href="https://eleconomista.com.ar/tech/chatgpt-insaciable-esta-consumiendo-una-cantidad-asombrosa-agua-n61410">El Economista
</a>, <a href="https://www.lanacion.com.ar/tecnologia/impacto-ambiental-la-inteligencia-artificial-se-bebe-miles-de-millones-de-litros-de-agua-nid14112023/">LA NACION</a>),  Ecuador (<a href="https://www.eltelegrafo.com.ec/noticias/actualidad/44/cuantos-litros-de-agua-consume-chatgpt">El Telegrafo</a>), Bolivia (<a href="https://www.eldiario.net/portal/2023/09/18/los-pros-y-contras-del-uso-de-chatgpt">El Diario</a>, <a href="https://lapatria.bo/2023/06/29/la-ia-amenaza-el-medioambiente-emite-mas-co2-que-un-individuo/">La Patria</a>),
Dominican Republic (<a href="https://eldinero.com.do/240124/una-consulta-en-chatgpt-consume-tres-veces-mas-energia-que-en-el-buscador-de-google/">elDinero</a>), Haiti (<a href="https://www.juno7.ht/les-ia-dont-chatgpt-epuisent-les-reserves-deau/">juno7</a>),
Chile (<a href="https://www.24horas.cl/cuanta-agua-gasta-usar-chatgpt">24 Horas</a>),
Costa Rica (<a href="https://www.elpais.cr/2023/07/30/una-consulta-en-chatgpt-consume-tres-veces-mas-energia-que-en-el-buscador-de-google/">Diario Elpais</a>)


  <!--
  <h4 class="card-title font-weight-medium">United States</h4>
      
  <h4 class="card-title font-weight-medium">Canada</h4>
      
  <h4 class="card-title font-weight-medium">Mexico</h4>
  -->

  <br/> 
  <br/>         
  <h3 class="card-title font-weight-medium">Europe</h3>

  United Kingdom (<a href="https://www.theguardian.com/technology/2023/jun/08/artificial-intelligence-industry-boom-environment-toll">The Guardian</a>, 
  <a href="https://www.telegraph.co.uk/business/2023/12/29/silicon-valley-data-centres-global-water-crisis/">The Telegraph</a>, 
  <a href="https://www.independent.co.uk/tech/chatgpt-data-centre-water-consumption-b2318972.html">The Independent</a>, 
  <a href="https://www.thetimes.co.uk/article/ais-thirst-for-knowledge-is-bad-for-global-water-supplies-kpct9bbl6">The Times</a>, 
  <a href="https://www.bbc.co.uk/programmes/w3ct4tq9">BBC</a>, 
  <a href="https://www.standard.co.uk/news/tech/ai-chatgpt-water-usage-environment-study-b1073866.html">The Standard</a>, 
  <a href="https://www.ft.com/content/6c050c72-cd3d-4159-a209-84a427edaf4a">Financial Times</a>),
  Spain (<a href="https://elpais.com/tecnologia/2023-11-14/la-inteligencia-artificial-se-bebe-miles-de-millones-de-litros-de-agua.html">El Pais</a>, 
  <a href="https://www.lavanguardia.com/vida/20230415/8897250/chatgpt-consume-botella-medio-litro-conversacion.html">La Vanguardia</a>, <a href="https://es.wired.com/articulos/el-inesperado-uso-de-agua-que-exige-chatgpt-y-su-impacto-para-el-planeta">Wired</a>, <a href="https://www.nationalgeographic.com.es/ciencia/inteligencia-artificial-este-es-todo-agua-que-consume_20036">National Geographic</a>),
  France (<a href="https://www.lefigaro.fr/secteur/high-tech/l-ia-et-chatgpt-bousculent-l-industrie-des-data-centers-20231128">Le Figaro</a>, <a href="https://www.nouvelobs.com/economie/20230918.OBS78305/pourquoi-chatgpt-est-une-bombe-environnementale.html">L'OBS</a>, 
  <a href="https://www.rtl.fr/actu/economie-consommation/pourquoi-l-intelligence-artificielle-aggrave-t-elle-la-secheresse-7900299153#20230918102600">RTL</a>, <a href="https://www.bfmtv.com/tech/intelligence-artificielle/une-bouteille-par-conversation-chat-gpt-est-un-gouffre-de-consommation-d-eau-fraiche_AV-202304120278.html">BFM TV</a>, <a href="https://www.youtube.com/watch?v=WYHslY80cNA">EuroNews</a>),
  Germany (<a href="https://www.heise.de/news/Wasserbilanz-von-KI-Modellen-Halber-Liter-Wasser-pro-Unterhaltung-mit-ChatGPT-8973680.html">MIT Technology Review</a>, <a href="https://fb.watch/optqGR0YMe/">Deutsche Welle</a>, 
  <a href="https://www.berliner-zeitung.de/news/forscher-schlagen-alarm-so-durstig-ist-chatgpt-us-studie-berechnet-wasserverbrauch-von-ki-li.338385">Berliner Zeitung</a>, <a href="https://www.chip.de/news/ChatGPT-hat-viel-Durst-So-viel-Wasser-verbrauchen-2-Minuten-mit-der-KI_184874307.html">CHIP</a>, <a href="https://taz.de/Oekologischer-Fussabdruck-von-KI/!5946576/">taz</a>), 
  Italy (<a href="https://www.ansa.it/sito/notizie/tecnologia/hitech/2023/04/13/chatgpt-consuma-tanta-acqua-1-bottiglia-a-conversazione_8c75246c-fcec-4d3b-9863-f1c78ab2f5e3.html">ANSA</a>, 
  <a href="https://www.repubblica.it/green-and-blue/2023/04/15/news/chatgpt_acqua_consumo_idrico_ai_ricerca-396160978/">la Republica</a>),
   Belgium (<a href="https://geeko.lesoir.be/2023/09/13/limpressionnante-consommation-en-eau-de-chatgpt/">Le Soir</a>),
   Austria (<a href="https://www.derstandard.de/consent/tcf/story/2000145454552/studie-warnt-davor-wie-durstig-chatgpt-sein-kann">der Standard</a>), 
   Poland (<a href="https://klimat.rp.pl/planeta/art39423841-chatgpt-staje-sie-zagrozeniem-sztuczna-inteligencja-zuzywa-miliardy-litrow-wody">Rzeczpospolita</a>), 
   Denmark (<a href="https://www.dr.dk/stories/1288510966/et-spoergsmaal-til-chatgpt-kan-vaere-op-til-50-gange-vaerre-for-miljoeet-end-at-google">Danish Broadcasting Corporation</a>), 
   Finland (<a href="https://tekniikanmaailma.fi/tekoalylla-on-jano-jokainen-5-50-kysymyksen-sarja-chatgptlta-kuluttaa-puoli-litraa-vetta-tutkijat-arvioivat/">TM</a>),
   Norway (<a href="https://en.nytid.no/vampyrisk-overforbruk/">Ny Tid</a>, <a href="https://e24.no/internasjonal-oekonomi/i/RG0n78/chatgpt-kan-bruke-en-halvliter-vann-paa-fem-oppgaver?referer=https%3A%2F%2Fwww.aftenposten.no">E24</a>),
   Sweden (<a href="https://computersweden.idg.se/2.2683/1.779130/chat-gpt-dricker-en-halvliter-for-att-hantera-20-fragor-och-svar">IDG</a>), 
   The Netherlands (<a href="https://fd.nl/bedrijfsleven/1476727/ontwikkeling-ai-loopt-vast-op-astronomisch-stroomverbruik">FD</a>, <a href="https://www.techzine.eu/news/applications/111144/chatgpts-water-consumption-is-astronomical-40-prompts-demand-one-litre/">TechZine</a>),   
   Turkey (<a href="https://www.ntv.com.tr/teknoloji/chatgpt-su-iciyor-her-gorusmede-yarim-litre-su-tuketimi,pBi0eVlMPUesCx9JbnLRTg">NTV</a>, <a href="https://www.hurriyetdailynews.com/ai-chat-models-consume-staggering-amount-of-water-184748">Hurriyet Daily</a>), 
   Portugal (<a href="https://www.tempo.pt/noticias/actualidade/a-pegada-ambiental-da-inteligencia-artificial-um-perigo-para-o-planeta-alteracoes-climaticas.html">Tempo</a>), 
   Bulgaria (<a href="https://www.bloombergtv.bg/a/74-businessweek-zhivot/121571-izkustveniyat-intelekt-e-zhaden">Bloomberg TV</a>),
   Ukraine (<a href="https://itc.ua/ua/novini/chatgpt-vypyvaye-pivlitra-vody-na-kozhni-20-50-zapytiv/">ITC</a>), 
   Malta (<a href="https://lovinmalta.com/news/is-chatgpt-bad-for-the-planet-new-study-suggests-its-drinking-a-bottle-of-fresh-water-for-every-20-questions/">Lovin Malta</a>), 
   Ireland (<a href="https://www.irishevs.com/climate-consequences-chatgpt">IrishEVs</a>), 
  Russia (<a href="https://lenta.ru/news/2023/09/11/chatgpt_water">Lenta</a>),
  Switzerland (<a href="https://www.infosperber.ch/gesellschaft/technik/durstige-ki/">Infosperber</a>, <a href="https://www.inside-it.ch/verbraucht-googles-ki-suche-bald-so-viel-energie-wie-die-ganze-schweiz-20231012">Inside IT</a>),
  Greece (<a href="https://eleftherostypos.gr/tech/nerofida-to-chatgpt-to-a-i-katanalonei-terasties-posotites-nerou-symfona-me-meleti">Eleftheros Typos</a>), Romania (<a href="https://www.descopera.ro/dnews/20353603-chatgpt-consuma-o-cantitate-absurda-de-apa-arata-o-noua-cercetare">Descopera</a>,
  <a href="https://www.mediafax.ro/stiinta-sanatate/chatgpt-vor-trece-milioane-de-ani-pana-la-refacerea-ecosistemului-ce-transmite-inteligenta-artificiala-despre-schimbarile-climatice-si-criza-resurselor-21570413">Mediafax</a>), Moldova (<a href="https://www.jurnal.md/ro/news/88c0d2767a5ed902/inteligenta-artificiala-foloseste-cantitati-uriase-de-curent-si-apa-va-consuma-mai-mult-decat-toata-forta-de-munca-umana.html">Jurnal</a>), Serbia (<a href="https://benchmark.rs/vesti/nauka-i-tehnologija/na-svakih-10-pitanja-koje-postavite-chatgpt-serveri-popiju-1-litar-vode/">Benchmark</a>),
  Croatia (<a href="https://green.hr/chatgpt-popije-bocu-svjeze-vode-za-svakih-20-do-50-pitanja-koja-postavimo/">Green</a>), 
  Latvia (<a href="https://kursors.lv/2023/09/13/izpetits-ka-chatgpt-un-citi-mi-catboti-atstaj-loti-sliktu-ietekmi-uz-vidi/">Kursors</a>), 
  Hungary (<a href="https://www.vg.hu/cegvilag/2023/04/rendkivul-sok-vizet-fogyaszt-a-chatgpt-figyelmeztet-egy-kutatas">Vilaggazdasag</a>,
  <a href="https://www.blikk.hu/ferfiaknak/tech/chatgpt-openai-viz-fogyasztas-tanulmany/v4bnx9j">Blikk</a>), Estonia (<a href="https://tehnika.postimees.ee/7827257/google-il-on-aarmiselt-veejanune-elukas-vaata-kes-see-on">Postimees</a>)



  



  

  



  <br/> 
  <br/>  
  <h3 class="card-title font-weight-medium">Asia & Australia</h3>   
  India (<a href="https://timesofindia.indiatimes.com/india/ai-chatbots-may-be-fun-but-they-have-a-drinking-problem/articleshow/100634953.cms">The Times of India</a>, <a href="https://www.hindustantimes.com/technology/ai-water-footprint-chatgpt-impact-environment-101684309842305.html">Hindustan Times</a>, <a href="https://hindi.news18.com/news/business/ai-chatbot-like-chatgpt-consume-a-lot-of-water-know-the-reason-artificial-intelligence-6369083.html">CNN News-18</a>),
  China (<a href="https://content-static.cctvnews.cctv.com/snow-book/index.html?item_id=496485778153262439">CCTV</a>, <a href="https://3w.huanqiu.com/a/de583b/4FjaQ0VkADx">Huanqiu</a>, <a href="https://www.chinadaily.com.cn/a/202312/18/WS657f8259a31040ac301a827d.html">China Daily</a>, <a href="https://www.nbd.com.cn/articles/2024-01-01/3190189.html">National Business Daily</a>, 
   <a href="https://m.jiemian.com/article/10289695.html">Jiemian</a>, <a href="https://news.ifeng.com/c/8TDAVUMC19J">iFeng</a>),  Japan (<a href="https://news.yahoo.co.jp/expert/articles/f1da71035a3cbadf66fa159061016a4c89d4f29a">Yahoo Japan</a>, <a href="https://japannews.yomiuri.co.jp/news-services/ap/20230910-135686/">Yomiuri</a>, <a href="https://newspicks.com/news/8791368/body/">NewsPicks</a>), 
  Singapore (<a href="https://www.straitstimes.com/world/europe/thirsty-data-centres-are-making-europe-s-dry-summers-even-dryer">The Straight Times</a>), 
  Indonesia (<a href="https://www.cnbcindonesia.com/tech/20230911181731-37-471481/chatgpt-bawa-bencana-5-jawaban-habiskan-sebotol-air-mineral">CNBC</a>, <a href="https://tekno.kompas.com/read/2023/09/11/08000027/chatgpt-butuh-sebotol-air-mineral-untuk-setiap-5-pertanyaan#google_vignette">Kompas</a>, <a href="https://tekno.rmol.id/read/2023/09/12/588740/setiap-proses-5-prompt-chatgpt-habiskan-500-ml-air">RMOL</a>, <a href="https://www.liputan6.com/tekno/read/5395960/microsoft-habiskan-17-miliar-galon-air-untuk-latih-model-ai-buat-apa">Liputan</a>),
  Malaysia (<a href="https://www.thestar.com.my/tech/tech-news/2023/09/11/artificial-intelligence-technology-behind-chatgpt-was-built-in-iowa---with-a-lot-of-water">The Star</a>, <a href="https://www.sinchew.com.my/news/20230415/international/4613596">Sin Chew</a>),
  South Korea (<a href="https://www.chosun.com/economy/economy_general/2023/04/24/TYK72GMRQZAGLHZMJWEKX6KQQ4/">Chosun Ilbo</a>, <a href="https://www.hani.co.kr/arti/science/technology/1090180.html">The Hankyoreh</a>),
  Thailand (<a href="https://www.thansettakij.com/sustainable/zero-carbon/567710">Thansettakij</a>, 
  <a href="https://techsauce.co/sustainable-focus/chat-gpt-ai-consume-water">Techsauce</a>),
  Philippines (<a href="https://technology.inquirer.net/128230/chatgpt-energy-consumption-study">Inquirer</a>),
  Vietnam (<a href="https://www.vietnam.vn/khi-trung-tam-du-lieu-khat-nuoc/">Vietnam.vn</a>), Nepal (<a href="https://technologykhabar.com/2023/07/25/144238/">Technology Khabar</a>), 
  <!--Syria (<a href="https://liira-sy.com/2023/09/18/%D8%A7%D8%B3%D8%AA%D9%87%D9%84%D8%A7%D9%83-%D9%85%D8%B1%D9%88%D8%B9-%D9%84%D9%84%D9%85%D9%8A%D8%A7%D9%87-%D9%83%D9%8A%D9%81-%D8%AA%D8%B3%D8%AA%D9%86%D8%B2%D9%81-%D8%A3%D9%86%D8%B8%D9%85%D8%A9-%D8%A7/">Syrian Exchange News</a>),-->
  Qatar (<a href="https://www.qatar-tribune.com/article/82422/business/ai-technology-behind-chatgpt-was-built-in-iowa-with-a-lot-of-water">Qatar Tribune</a>),
  United Arab Emirates (<a href="https://www.youtube.com/watch?v=4CeZpMzNfQs">Sky News Arabia</a>,
  <a href="https://wired.me/technology/thirsty-ai-machines-america/">Wired</a>, <a href="https://economymiddleeast.com/news/chatgpts-water-use-raises-alarm-in-water-scarce-mena-region/">Economy Middle East</a>), 
  Saudi Arabia (<a href="https://www.arabiaweather.com/ar/content/%D8%A8%D8%B4%D9%83%D9%84-%D8%BA%D9%8A%D8%B1-%D9%85%D8%AA%D9%88%D9%82%D8%B9-chatgpt-%D9%8A%D8%B3%D8%AA%D9%87%D9%84%D9%83-%D9%83%D9%85%D9%8A%D8%A7%D8%AA-%D9%83%D8%A8%D9%8A%D8%B1%D8%A9-%D9%85%D9%86-%D8%A7%D9%84%D9%85%D9%8A%D8%A7%D9%87">ArabiaWeather</a>), 
  Bangladesh (<a href="https://www.thedailystar.net/opinion/views/news/urgent-call-environmentally-sustainable-computation-3394156">The Daily Star</a>),
  Azerbaijan (<a href="https://tedroid.com/texnologiya/suni-intellekt/chatgpt-gelecekde-su-problemi-yaradacaq.html">Tedroid</a>),
  Iran (<a href="https://www.khabaronline.ir/news/1812018/%D8%A7%D9%81%D8%B2%D8%A7%DB%8C%D8%B4-%D9%88%D8%AD%D8%B4%D8%AA%D9%86%D8%A7%DA%A9-%D9%85%D8%B5%D8%B1%D9%81-%D8%A2%D8%A8-%D8%A8%D9%87-%D8%AE%D8%A7%D8%B7%D8%B1-%D9%87%D9%88%D8%B4-%D9%85%D8%B5%D9%86%D9%88%D8%B9%DB%8C">Khabar</a>), Australia (<a href="https://theconversation.com/the-hidden-cost-of-the-ai-boom-social-and-environmental-exploitation-208669">The Conversation</a>,
  <a href="https://gizmodo.com.au/2023/04/thirsty-ai-training-chatgpt-required-enough-water-to-fill-a-nuclear-reactors-cooling-tower-study-finds/">Gizmodo</a>, <a href="https://insidewater.com.au/artificial-intelligence-using-huge-volumes-of-water-chat-gpt-openai/">Inside Water</a>), New Zealand (<a href="https://www.rnz.co.nz/news/national/500500/water-use-of-nz-data-centers-still-unclear">Radio NZ</a>)

  
<br/> 
<br/> 
  <h3 class="card-title font-weight-medium">Africa</h3>

  Egypt (<a href="https://egyptianstreets.com/2023/05/14/5-ways-chatgpt-could-affect-egyptians-and-mena/">Egyptian Streets</a>), 
     South Africa (<a href="https://www.news24.com/news24/Tech-and-Trends/the-hidden-cost-of-the-ai-boom-social-and-environmental-exploitation-20230720">News24</a>),
     Ghana (<a href="https://ghanaguardian.com/artificial-intelligences-thirst-unveiling-the-water-consumption-of-chatgpt">Ghana Guardian</a>),
     Nigeria (<a href="https://www.scidev.net/global/scidev-net-investigates/data-centres-straining-water-resources-as-ai-swells/">Science Development Network</a>) 
  

  
  


  






  </article>


