---
layout: default
---


  <header class="post-header">
    <h1 class="post-title">societal impacts</h1>
    <!-- <p class="post-description">{{ page.description }}</p> -->
  </header>



  <!-- <p style="font-size: 2rem; color:red"><b>under construction</b></p>

  <br/>
  <br/>-->
  
  Our research has extended well beyond academic publications and generated broader societal impacts in various ways, raising public awareness of AI+sustainability. It has been reported and covered by 800+ media outlets in ~100 countries. Additionally, it has been cited/curated by non-profit organizations, government agencies, and policy think tanks worldwide. Here, I list 
  some media reports in selected countries.
  <br/>
  <br/>

  <article>
    <h3 class="card-title font-weight-medium">Highlights</h3>

      <div class="impacts">
        <div class="grid">    
          
          <div class="grid-item">

            <a href="https://apnews.com/article/chatgpt-gpt4-iowa-ai-water-consumption-microsoft-f551fde98083d17a7e8d904f8be822c4">
              <div class="card hoverable">
                <img src="/assets/news/ap.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-medium" style="font-size: 1.2rem; text-align:center">The Associated Press</p>
                  <p class="card-text"><b>(Also republished in
                  ABC News, CNBC, The Hill, Fortune, etc.)</b> Artificial intelligence technology behind ChatGPT was built in Iowa — with a lot of water</p>
                </div>
              </div>
            </a>
          </div>

          

          <div class="grid-item">
            <a href="https://www.bloomberg.com/news/articles/2023-07-26/extreme-heat-drought-drive-opposition-to-ai-data-centers">
              <div class="card hoverable">
                <img src="/assets/news/bloomberg.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Bloomberg</p>
                  <p class="card-text">Thirsty Data Centers Are Making Hot Summers Even Scarier</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://www.wsj.com/articles/artificial-intelligence-can-make-companies-greener-but-it-also-guzzles-energy-7c7b678">
              <div class="card hoverable">
                <img src="/assets/news/wsj.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">The Wall Street Journal</p>
                  <p class="card-text">Artificial Intelligence Can Make Companies Greener, but It Also Guzzles Energy</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://www.cbsnews.com/news/artificial-intelligence-carbon-footprint-climate-change/">
              <div class="card hoverable">
                <img src="/assets/news/cbs.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">CBS News</p>
                  <p class="card-text">Some experts see AI as a tool against climate change. Others say its own carbon footprint could be a problem.</p>
                </div>
              </div>
            </a>
          </div>
          
          
          <div class="grid-item">
            <a href="https://www.cbc.ca/player/play/2227096643554">
              <div class="card hoverable">
                <img src="/assets/news/cbc.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">CBC</p>
                  <p class="card-text">AI's hidden climate costs</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://www.bbc.co.uk/programmes/w3ct4tq9">
              <div class="card hoverable">
                <img src="/assets/news/bbc.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">BBC</p>
                  <p class="card-text">Charting the true cost of AI</p>
                </div>
              </div>
            </a>
          </div>

          



          <div class="grid-item">
            <a href="https://www.theguardian.com/technology/2023/jun/08/artificial-intelligence-industry-boom-environment-toll">
              <div class="card hoverable">
                <img src="/assets/news/guardian.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">The Guardian</p>
                  <p class="card-text">As the AI industry booms, what toll will it take on the environment?</p>
                </div>
              </div>
            </a>
          </div>

          

          <div class="grid-item">
            <a href="https://www.ft.com/content/6c050c72-cd3d-4159-a209-84a427edaf4a">
              <div class="card hoverable">
                <img src="/assets/news/ft.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Financial Times</p>
                  <p class="card-text">Water worries hit the chip sector</p>
                </div>
              </div>
            </a>
          </div>
          

          <div class="grid-item">
            <a href="https://www.newscientist.com/article/2381859-shifting-where-data-is-processed-for-ai-can-reduce-environmental-harm/">
              <div class="card hoverable">
                <img src="/assets/news/newscientist.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">New Scientist</p>
                  <p class="card-text">Shifting where data is processed for AI can reduce environmental harm</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://elpais.com/tecnologia/2023-06-27/chatgpt-necesita-beberse-medio-litro-de-agua-para-tener-una-conversacion-el-conflicto-de-la-tecnologia-azul.html">
              <div class="card hoverable">
                <img src="/assets/news/elpais.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">El Pais</p>
                  <p class="card-text">ChatGPT necesita beberse medio litro de agua para tener una conversación: el conflicto de la tecnología azul</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://timesofindia.indiatimes.com/india/ai-chatbots-may-be-fun-but-they-have-a-drinking-problem/articleshow/100634953.cms">
              <div class="card hoverable">
                <img src="/assets/news/toi.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Times of India</p>
                  <p class="card-text">AI chatbots may be fun, but they have a drinking problem</p>
                </div>
              </div>
            </a>
          </div>


          <div class="grid-item">
            <a href="https://www.lavanguardia.com/vida/20230415/8897250/chatgpt-consume-botella-medio-litro-conversacion.html">
              <div class="card hoverable">
                <img src="/assets/news/lavanguardia.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">La Vanguardia</p>
                  <p class="card-text">ChatGPT consume medio litro de agua en cada conversación sencilla</p>
                </div>
              </div>
            </a>
          </div>
          
          <div class="grid-item">
            <a href="https://www.ansa.it/canale_tecnologia/notizie/future_tech/2023/09/11/chatgpt-consuma-acqua-arriva-da-fiumi-vicino-ai-campi-di-grano_c208c7d9-d4ad-4185-85b9-0b3b87fe1f78.html">
              <div class="card hoverable">
                <img src="/assets/news/ansa.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">ANSA</p>
                  <p class="card-text">ChatGpt consuma acqua, arriva dai fiumi vicino ai campi di grano</p>
                </div>
              </div>
            </a>
          </div>

          <div class="grid-item">
            <a href="https://www.euronews.com/video/2023/11/01/ai-chatgpt-consumes-more-energy-than-a-traditional-internet-search">
              <div class="card hoverable">
                <img src="/assets/news/euronews.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">EuroNews</p>
                  <p class="card-text">AI: ChatGPT consumes more energy than a traditional Internet search</p>
                </div>
              </div>
            </a>
          </div>


          <div class="grid-item">
            <a href="https://elcomercio.pe/tecnologia/inteligencia-artificial/la-contaminacion-que-produce-chatgpt-por-cada-conversacion-la-ia-consume-una-botella-de-agua-inteligencia-artificial-chatbot-mexico-espana-estados-unidos-noticia/">
              <div class="card hoverable">
                <img src="/assets/news/elcomercio.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">El Comercio</p>
                  <p class="card-text">La contaminacion que produce ChatGPT: por cada conversacion la IA "consume" una botella de agua</p>
                </div>
              </div>
            </a>
          </div>
          

          <div class="grid-item">
            <a href="https://www.berliner-zeitung.de/news/forscher-schlagen-alarm-so-durstig-ist-chatgpt-us-studie-berechnet-wasserverbrauch-von-ki-li.338385">
              <div class="card hoverable">
                <img src="/assets/news/berliner.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">Berliner Zeitung</p>
                  <p class="card-text">Forscher schlagen Alarm: So „durstig“ ist ChatGPT</p>
                </div>
              </div>
            </a>
          </div>
          

          

          
          

    <!--      <div class="grid-item">
            <a href="https://www.euronews.com/green/2023/04/20/chatgpt-drinks-a-bottle-of-fresh-water-for-every-20-to-50-questions-we-ask-study-warns">
              <div class="card hoverable">
                <img src="/assets/news/euronews.jpeg" width="auto" height="auto" alt="na">
                <div class="card-body">
                  <p class="card-title font-weight-bold" style="font-size: 1.2rem; text-align:center">EuroNews</p>
                  <p class="card-text">ChatGPT 'drinks' a bottle of fresh water for every 20 to 50 questions we ask, study warns</p>
                </div>
              </div>
            </a>
          </div> -->
          
          
        </div>
      </div>
    
    <!--  
    <h3 class="card-title font-weight-medium">North America</h3>
          
      <h4 class="card-title font-weight-medium">United States</h4>
      
      <h4 class="card-title font-weight-medium">Canada</h4>
      
      <h4 class="card-title font-weight-medium">Mexico</h4>
          
    <h3 class="card-title font-weight-medium">Europe</h3>

    <h3 class="card-title font-weight-medium">South America</h3>

    <h3 class="card-title font-weight-medium">Asia & Australia</h3>

    <h3 class="card-title font-weight-medium">Africa</h3>

    <h3 class="card-title font-weight-medium">Others</h3>
  -->

  </article>


