---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">publications</h1>
    <!-- <p class="post-description">{{ page.description }}</p> -->
  </header>
  My research broadly focuses on <b>AI for Good</b> and strives
  to build a resilient, sustainable and equitable future. I am interested in  AI-augmented decision making that infuses human knowledge into intelligent agents to optimize decisions with minimum resources and provable performance guarantees, addressing societal challenges such as public health and sustainability. 

  <br/>
  <br/>
  <article>
          
          <h3 class="card-title font-weight-medium">Selected papers</h3>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[selected=true && show=true]* %}
          </div>
  
          <h3 class="card-title font-weight-medium">Sustainable AI & computing</h3>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[topic=green && show=true]* %}
          </div>
          

          <h3 class="card-title font-weight-medium">AI & computing for sustainability</h3>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[topic=ai4sustainability && show=true]* %}
          </div>

          <h3 class="card-title font-weight-medium">Secure AI & computing</h3>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[topic=security && show=true]* %}
          </div>

          <h3 class="card-title font-weight-medium">Others</h3>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[topic=others && show=true]* %}
          </div>

          <h3 class="card-title font-weight-medium">By year</h3>
          <h4 class="card-title font-weight-medium">2021 -- present</h4>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[timerange=21to25 && show=true]* %}
          </div>
          <h4 class="card-title font-weight-medium">2016 -- 2020</h4>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[timerange=16to20 && show=true]* %}
          </div>
          <h4 class="card-title font-weight-medium">2015 & before</h4>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[timerange=before16 && show=true]* %}
          </div>

  </article>
  

</div>
