---
layout: default
---



        <article>
         
          

          <h1>students</h1>

          <b>I'm proud to have worked with these talented students.</b>
          <br/>
          <br/>
          

          <h3>ph.d. students</h3>
          <div class="col-sm-12">
          <table class="table-cv-map table-borderless table-responsive">
          <col width="200px">
          <col width="">
          <tr>
            <td class="p-1 pr-2 font-weight-bold"><b><a href="https://www.cs.ucr.edu/~pli081/">Pengfei Li</a></b></td>
            <td class="p-1 pl-2 font-weight-light text">09/2020--Present</td>
          </tr>
          <tr>
            <td class="p-1 pr-2 font-weight-bold"><b><a href="https://liuyejia.github.io/">Yejia Liu</a></b></td>
            <td class="p-1 pl-2 font-weight-light text">03/2021--Present</td>
          </tr>
          <tr>
            <td class="p-1 pr-2 font-weight-bold"><b><a href="https://sites.google.com/view/jami1005050">Mohammad Jami Islam</a></b></td>
            <td class="p-1 pl-2 font-weight-light text">09/2022--Present</td>
          </tr>
          <tr>
            <td class="p-1 pr-2 font-weight-bold"><b><a href="https://jyang-ai.github.io/">Jianyi Yang</a></b></td>
            <td class="p-1 pl-2 font-weight-light text">09/2018--07/2023, now visiting Caltech/UC Riverside</td>
          </tr>
           <tr>
            <td class="p-1 pr-2">Fangfang Yang</td>
            <td class="p-1 pl-2 font-weight-light text">09/2017--12/2022 (on leave for 1.5 years), TikTok</td>
          </tr>
           <tr>
            <td class="p-1 pr-2"><a href="https://crystal.uta.edu/~mislam/">Mohammad Atiqul Islam</a></td>
            <td class="p-1 pl-2 font-weight-light text">09/2012--12/2018, now Assistant Professor at UT Arlington</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Hasan Mahmud</td>
            <td class="p-1 pl-2 font-weight-light text">09/2012--12/2018, Microsoft-->Meta</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Bingqian Lu</td>
            <td class="p-1 pl-2 font-weight-light text">09/2018--07/2022, Snap</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Luting Yang</td>
            <td class="p-1 pl-2 font-weight-light text">08/2017--03/2021, Walmart Labs-->Uber</td>
          </tr> 
          <tr>
            <td class="p-1 pr-2"><a href="https://zhihuishao.github.io/">Zhihui Shao</a></td>
            <td class="p-1 pl-2 font-weight-light text">09/2017--06/2021, Amazon</td>
          </tr> 
          </table>
        </div>

          <br/>
          <h3>master and visiting students</h3>

          <div class="col-sm-12">
          <table class="table-cv-map table-borderless table-responsive">
            <col width="200px">
          <col width="">
          <tr>
            <td class="p-1 pr-2">Xiaofeng Hou</td>
            <td class="p-1 pl-2 font-weight-light text">09/2019--02/2020, from Shanghai Jiaotong University</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Qihang Sun</td>
            <td class="p-1 pl-2 font-weight-light text">04/2017--09/2017, from the University of Hong Kong</td>
          </tr>
           <tr>
            <td class="p-1 pr-2">Ji Guo</td>
            <td class="p-1 pl-2 font-weight-light text">09/2015--09/2016</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Marco Polverini</td>
            <td class="p-1 pl-2 font-weight-light text">05/2013--07/2013, from University of Rome "Sapienza", Italy</td>
          </tr>          
          </table>
        </div>

          <br/>
          <h3>undergraduate students</h3>
        

          <div class="col-sm-12">
          <table class="table-cv-map table-borderless table-responsive">
          <col width="200px">
          <col width="">
          <tr>
            <td class="p-1 pr-2">Allison Hwang</td>
            <td class="p-1 pl-2 font-weight-light text">06/2023--08/2023</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Christian Ardito</td>
            <td class="p-1 pl-2 font-weight-light text">07/2016--06/2017</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Aaron Sanders</td>
            <td class="p-1 pl-2 font-weight-light text">07/2016--12/2016</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Chang Liu</td>
            <td class="p-1 pl-2 font-weight-light text">10/2015--03/2016</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Haven Wang</td>
            <td class="p-1 pl-2 font-weight-light text">05/2014--07/2014</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Joseph Scott</td>
            <td class="p-1 pl-2 font-weight-light text">05/2014--07/2014</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Vance Turnewitsch</td>
            <td class="p-1 pl-2 font-weight-light text">05/2014--07/2014</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Preston Ramirez</td>
            <td class="p-1 pl-2 font-weight-light text">05/2013--07/2013</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Frank Fernandez</td>
            <td class="p-1 pl-2 font-weight-light text">05/2013--07/2013, 05/2013--08/2013</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">John Rodriguez</td>
            <td class="p-1 pl-2 font-weight-light text">05/2013--07/2013</td>
          </tr>
          <tr>
            <td class="p-1 pr-2">Jose Machado</td>
            <td class="p-1 pl-2 font-weight-light text">05/2013--07/2013</td>
          </tr>
        </table>  
        </div>

        </article>


